[branch]
	sort = -committerdate
[commit]
	gpgsign = true
[core]
	excludesfile = ~/.gitignore_global
[diff]
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[fetch]
	all = true
	prune = true
	pruneTags = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[includeIf "gitdir:~/Developer/personal/**"]
	path = ~/Developer/personal/.gitconfig
[includeIf "gitdir:~/Developer/work/**"]
	path = ~/Developer/work/.gitconfig
[init]
	defaultBranch = main
[pager]
	difftool = true
[push]
	autoSetupRemote = true
	followTags = true
[tag]
	sort = version:refname
[user]
	name = Taliesin Millhouse
