[core]
	editor = code --wait
	excludesfile = ~/.gitignore_global
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
	allowedSignersFile = ~/.ssh/allowed_signers
[commit]
	gpgsign = true
[user]
	name = Taliesin Millhouse
[init]
	defaultBranch = main
[url "git@github.com:"]
	insteadOf = https://github.com/
[includeIf "gitdir:~/Developer/personal/**"]
    path = ~/Developer/personal/.gitconfig
[includeIf "gitdir:~/Developer/work/**"]
    path = ~/Developer/work/.gitconfig
[push]
	autoSetupRemote = true
