[commit]
	gpgsign = true
[core]
	editor = code --wait
	excludesfile = ~/.gitignore_global
[diff]
    external = difft
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[includeIf "gitdir:~/Developer/personal/**"]
    path = ~/Developer/personal/.gitconfig
[includeIf "gitdir:~/Developer/work/**"]
    path = ~/Developer/work/.gitconfig
[init]
	defaultBranch = main
[pager]
    difftool = true
[push]
	autoSetupRemote = true
# [url "git@github.com:"]
	# insteadOf = https://github.com/
[user]
	name = Taliesin Millhouse
